@font-face {
    font-family: 'MARK-SIMONSON-PROXIMA-NOVA-THIN';
    src: url("../fonts/MARK-SIMONSON-PROXIMA-NOVA-THIN.otf");
}

@font-face {
    font-family: 'MARK-SIMONSON-PROXIMA-NOVA-ALT-REGULAR';
    src: url("../fonts/MARK-SIMONSON-PROXIMA-NOVA-ALT-REGULAR.otf");
}

html, body {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    position: fixed;
    width: 100%;
}

nav a {
    font-family: 'MARK-SIMONSON-PROXIMA-NOVA-THIN';
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav a:hover {
    color: #808080;
}

a:visited {
    color: black;
}

#logo {
    height: 40px;
    width: 40x;
}

#home {
    background-color: aliceblue
}

#title{
    font-family:'MARK-SIMONSON-PROXIMA-NOVA-ALT-REGULAR';
    text-align: center;
    font-size: 2.5vw;
    width: 100%;
}

.info {
    font-family: "Courier New", Courier, monospace;
    font-size:2.5vw;
    width: 50%;
    bottom:20%;
    right:8%;
}