@font-face {
    font-family: "Georgia";
}

#navigation_list {
    list-style-type: none;
    width: 100%;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #424949;
}

.left_column {
    width: 50%;
    float: left;
}

.right_column {
    width: 50%;
    float: right;
}